//Esquema das cores:
//cor da header
$corHeader:  #182C61;

// cor dde fundo do body
$corDeFundo:  #f5f6fa;

//cor da letra do menu
$corDoMenu:  #f5f6fa;

// cor do fundo da letra do menu
$cordoFundoMenu: #000;

//cor do botao do ver detalhes
$corDoBotao: #44bd32;

//cor da letra do botao
$corDaLetraBotao: #fff;

//cor do hover do botao
$corDoHoverDoBotao: #4cd137;